* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-custom {
    font-family: "Space Grotesk", sans-serif;
    margin: 10px;
    border: 8px solid #333333;
    border-radius: 10px;
    text-decoration: none;
    text-transform: none;
    color: #eeeeee;
    background-color: #333333;
}

.btn-custom:hover {
    border: 8px solid #855235;
    background-color: #855235;
    color: white;

}

.card{
    font-family: "Space Grotesk", sans-serif;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.1s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid black;
}


.menu{
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.menu:hover{
    text-decoration: underline;

}